.descriptionBase {
  position: absolute;
  top: 346px;
  z-index: 3;
  left: 15px;
}

.locationBase {
  position: absolute;
  /* z-index: 3; */
  top: 0px;
}

.descriptionText {
  margin-right: 30px;
}

.lore {
  position: absolute;
  top: 348px;
  z-index: 3;
  right: 17px;
}
