.inkWrapper {
  height: 70px;
  width: 80px;
}

.locationInk {
  right: 0px;
  top: 3px;
}

.baseCardInk {
  top: 7px;
  left: 6px;
}

.locationBase {
  right: 0px;
}

.baseLocationEmpty {
  transform: rotate(90deg);
  right: 6px;
  top: 0px;
}

.inkEmpty {
  left: 4px;
  top: 6px;
}

.locationInkEmpty {
  right: 8px;
  top: 6px;
  transform: rotate(90deg);
}

.noninkEmpty {
  top: 11px;
  left: 15px;
  transform: scale(0.8);
}

.locationNoninkEmpty {
  right: 18px;
  top: 10px;
  transform: rotate(90deg) scale(0.8);
}

.cardCost {
  position: absolute;
  width: 29px;
  text-align: center;
  z-index: 1;
  margin-top: 2px;
}

.baseCost {
  top: 17px;
  left: 22px;
}

.locationCost {
  right: 27px;
  top: 16px;
}

.baseLocationCostEmpty {
  transform: rotate(90deg);
  margin-top: 16px;
  margin-left: 23px;
}

.baseCostEmpty {
  margin-left: 20px;
  margin-top: 18px;
}

@media (max-width: 640px) {
  .baseInkEmpty {
    width: 58px;
    height: 51px;
  }

  .baseLocationEmpty {
    transform: rotate(90deg);
    right: 0px;
    top: 2px;
    height: 55px;
    width: 60px;
  }

  .baseLocationCostEmpty {
    transform: rotate(90deg) scale(0.7);
    margin-top: 9px;
    margin-left: 35px;
  }

  .baseCardInk {
    top: 7px;
    left: 1px;
  }

  .locationInkEmpty {
    right: 8px;
    top: 10px;
    transform: rotate(90deg);
    height: 37px;
    width: 41px;
  }

  .inkEmpty {
    width: 47px;
    height: 42px;
    top: 3px;
    left: 3px;
  }

  .noninkEmpty {
    width: 39px;
    height: 38px;
    top: 6px;
    left: 10px;
  }

  .baseCost {
    top: 11px;
    left: 11px;
  }

  .baseCostEmpty {
    margin-left: 11px;
    margin-top: 5px;
    transform: scale(0.8);
  }

  .locationCost {
    right: 14px;
    top: 17px;
  }

  .locationNoninkEmpty {
    right: 15px;
    top: 14px;
    height: 31px;
    transform: rotate(90deg);
  }
}
