.locationBase {
  right: 0px;
}

.baseInkEmpty {
  top: 10px;
  left: 2px;
}

.baseLocationEmpty {
  transform: rotate(90deg);
  right: 10px;
  top: 5px;
}

.inkEmpty {
  top: 11px;
  left: 3px;
}

.locationInkEmpty {
  right: 10px;
  top: 9px;
  transform: rotate(90deg);
}

.noninkEmpty {
  top: 16px;
  left: 13px;
}

.locationNoninkEmpty {
  right: 21px;
  top: 14px;
  transform: rotate(90deg);
}

.cardCost {
  position: absolute;
  width: 30px;
  text-align: center;
  z-index: 1;
}

.baseCost {
  top: 25px;
  left: 21px;
}

.locationCost {
  right: 30px;
  top: 22px;
}
