.inkWrapper {
  height: 70px;
  width: 70px;
}

.locationInk {
  right: 0px;
  top: 3px;
}

.baseCardInk {
  top: 12px;
  left: 8px;
}

.locationBase {
  right: 0px;
}

.baseLocationEmpty {
  transform: rotate(90deg);
  right: 10px;
  top: 5px;
}

.inkEmpty {
  left: 3px;
}

.locationInkEmpty {
  right: 11px;
  top: 9px;
  transform: rotate(90deg);
}

.noninkEmpty {
  top: 5px;
  left: 13px;
}

.locationNoninkEmpty {
  right: 21px;
  top: 14px;
  transform: rotate(90deg);
}

.cardCost {
  position: absolute;
  width: 30px;
  text-align: center;
  z-index: 1;
}

.baseCost {
  top: 13px;
  left: 21px;
}

.locationCost {
  right: 30px;
  top: 22px;
}

@media (max-width: 640px) {
  .baseLocationEmpty {
    width: 35px;
    height: 35px;
  }

  .baseInkEmpty {
    width: 50px;
    height: 47px;
  }

  .baseLocationEmpty {
    transform: rotate(90deg);
    right: 6px;
    top: 5px;
    height: 48px;
    width: 48px;
  }

  .baseCardInk {
    top: 7px;
    left: 1px;
  }

  .locationInkEmpty {
    right: 9px;
    top: 12px;
    transform: rotate(90deg);
    height: 37px;
    width: 45px;
  }

  .inkEmpty {
    width: 47px;
    height: 42px;
    top: 3px;
    left: 3px;
  }

  .noninkEmpty {
    width: 42px;
    height: 42px;
    top: 3px;
    left: 7px;
  }

  .baseCost {
    top: 11px;
    left: 11px;
  }

  .locationCost {
    right: 16px;
    top: 20px;
  }

  .locationNoninkEmpty {
    right: 15px;
    top: 14px;
    height: 37px;
    transform: rotate(90deg);
  }
}
