.cardBanner {
  top: 267px;
  left: 1px;
  z-index: 4;
}

.cardLocationBanner {
  top: 171px;
  z-index: 4;
}

.charStats {
  top: 274px;
  right: 17px;
  z-index: 4;
}

.locationStats {
  top: 176px;
  right: 21px;
  z-index: 4;
}

.strength {
  position: absolute;
  width: 30px;
  text-align: center;
  z-index: 4;
  top: 286px;
  right: 72px;
}

.willpower {
  position: absolute;
  width: 30px;
  text-align: center;
  z-index: 4;
  top: 286px;
  right: 27px;
}

.locationMovecost {
  position: absolute;
  width: 30px;
  text-align: center;
  z-index: 4;
  top: 187px;
  left: 33px;
}

.locationWillpower {
  position: absolute;
  width: 30px;
  text-align: center;
  z-index: 4;
  top: 187px;
  right: 32px;
}

.cardType {
  position: absolute;
  top: 61px;
  color: white;
}

.cardTypeLabel {
  width: 383px;
}

.charWrapper {
  position: absolute;
  top: 10px;
  left: 23px;
}

.name {
  position: absolute;
  top: 10px;
}

.nameWrapper {
  width: 383px;
}

.locationName {
  width: 533px;
}

.locationTypeLabel {
  width: 533px;
}
