.baseInkEmpty {
  position: absolute;
  top: 10px;
  left: 6px;
}

.noninkEmpty {
  position: absolute;
  top: 16px;
  left: 17px;
}

.inkEmpty {
  position: absolute;
  top: 11px;
  left: 5px;
}

.locationCard {
  transform: rotate(90deg);
}
